@model List<Core.Models.Bank.CustomerAccountModel>
@{ ViewData["Title"] = "Account List"; }
<div class="container">
    <div class="row flex-lg-row-reverse">
        <div class="col-12 col-lg-12">
       
                <div class="card-body">
                    <h5 class="card-title">Customer Accounts</h5>
                    @foreach (var account in Model)
                    {
        <div class="d-flex flex-row justify-content-between hover-parent">
            <p class="card-text">
                <a asp-controller="CustomerAccount" asp-action="Details" asp-route-id="@account.AccountNo">@account.FullName</a>
                <i class="fas fa-pen ml-1 cursor-pointer hover-visible text-muted text-primary-hover"
                   data-toggle="modal" data-target="#editModal" data-id="@account.AccountNo">
                </i>
            </p>
            <p class="card-text text-green text-right ml-3">฿@account.Balance</p>
        </div>}

                    @*<a class="btn btn-primary float-right" asp-controller="CustomerAccount" asp-action="Create">Create new account</a>*@
                </div>
            </div>
        
    </div>
</div>