@model BankWebAPI.Models.CustomerAccount.TransferViewModel

@{
    ViewData["Title"] = "Withdraw money";
}

<div class="mx-auto my-4 text-center w-lg-50 w-md-75">
    <h2>@ViewData["Title"]</h2>
    <form method="post">
        <hr class="w-75" />
        <div class="form-group">
            <label asp-for="SourceNo"></label>
            <select class="custom-select form-control" asp-for="SourceNo">
                <option disabled selected>Select account...</option>
                @foreach (var account in Model.CustomerAccounts)
                {
                    <option value="@account.AccountNo">@account.FullName - ฿@String.Format("{0:n2}", @account.Balance)</option>
                }
            </select>
            <span asp-validation-for="SourceNo" class="text-danger"></span>
        </div>


        <partial name="_AmountPartial" model="Model" />
        <div class="form-group">
            <label asp-for="Description">
                Description
                <span class="font-italic text-muted">(optional)</span>
            </label>
            <input class="form-control" asp-for="Description" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <a asp-action="Index" asp-controller="Home" class="btn btn-outline-secondary">Cancel</a>
            <button class="btn btn-primary" type="submit">Withdraw</button>
        </div>
    </form>
</div>
@section Scripts
{
    <script>

            $('#Amount').change(function () {

                let feePercent = parseFloat($('#FeePercent').val());
                let feeAmount = Math.round(((parseFloat(this.value) * feePercent) / 100) * 100) / 100; //2 digit = *100 /100

                let netAmount = Math.round((parseFloat(this.value) + feeAmount) * 100) / 100;//2 digit = *100 /100

                $('#FeeAmount').val(feeAmount);
                $('#NetAmount').val(netAmount);

            });
    </script>

}
